body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

a {
  font-size: 24px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main_nav,
.sub_nav {
  display: flex;
  gap: 1rem;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
  cursor: help;
}

h4 {
  font-weight: 400;
  margin-bottom: 0;
}
